<!-- // landing page:  -->
<!-- will have a heading/header with title -->
<!-- will have container with 3 buttons: get request to the page of data collections -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Garden Planner App</title>
    </head>
    <body>

        <div class="head"> 
            <h1>Garden Planner Landing Page</h1> 
                <div>
                    <p>Choose your garden type</p>
                </div>
        </div>

    <div class="container">
        <div class = button>
            <ul>
                <li><a href="/containers">Containers</a></li>
                <li><a href="">Raised Beds</a></li>
                <li><a href="">Ground</a></li>
        </div>
        <div class = "img">
            <img src="https://cdn.pixabay.com/photo/2020/08/05/18/18/beans-5466103_960_720.jpg" height="400" alt="bean sprouts">
        </div>
    </div>
    </body>
</html>