
<h1>Add New Recommendation</h1> 

<form class ="" action="/add" method="POST">
    <div class = "align-items-center">
        <label class="" for ="name">New Plant:</label>
        <input class ="" type="text" name="name"/>

        <label class ="" for ="img">Image: </label>
        <input class="" type="text" name="img"/>

        <label class="" for="supports">Supports:</label>
        <input class="" type="text" name="supports"/>

        <label class="" for="light">Light Needs:</label>
        <input class="" type="text" name="light"/>

        <label class="" for="_links">Link to Buy:</label>
        <input class="" type="text" name="_links"/>
    </div>
        <input class ="btn btn-success" type="submit"/>
</form>
<a class="btn btn-warning" href="/containers">Cancel</a>
<a class="btn btn-success" href="/containers">Submit</a>