<html>
    <head> 
        <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    </head>
   
<body>

 
<h1 class="display-3">Edit or Add New Recommended Varieties</h1>
<div class="container-fluid">
    <div class="row align-items-center ">

        <% varieties.forEach(v => { %>
            <div class="card" style="width: 18rem; background-color: antiquewhite; margin:auto;">
                <h5 class="card-title"> <%=v.variety %> </h5>
              
               <img src = "<%=v.img %>" height='200' width="220" class="card-img-top" alt="Image of Plant">
               <div class="card-body">
    
                    <a class = "btn btn-primary" href = "/gardenPlanner/variety/<%=v.id %>">Edit</a>
                    <!-- <a class = "font" href = "/button">delete</a> -->
    
                    <form class='' action="/gardenPlanner/variety/<%=v.id %>?_method=DELETE" method ="POST">
                        <input 
                            class="btn btn-danger"
                            type="submit"
                            value="Delete"/>
                    </form>
                </div>
           </div>
    
       <% }) %>
    
    </div>
</div>

<div class="add-btn" style="margin: 50px 20px 50px 10px;">
    <a class="btn btn-success" href="/gardenPlanner/variety/varietyTomatoes/new" style="padding:20px;"> Add New</a>
</div>

  

</body>
</html>